<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Curl Fu</title>
        <meta charset="UTF-8"/>
        <link rel="icon" href="data:,"> 
        <style>
            code {
                background-color: #f4f4f4;
                padding: 2px 5px;
                border-radius: 4px;
                font-family: 'Courier New', Courier, monospace;
            }
        </style>
    </head>
    <body>
        <h1>Curl Fu</h1>
        <p>Curl Fu is a simple, interactive way to learn <b>curl</b> via the command line.</p>
        
        <p>To start out, install curl first and then type:</p>
        <p><code>curl http://{{ environment }}/start</code></p>
    </body>
</html>